.DS_Store
*.tmp
src/ontology/mirror
src/ontology/mirror/*
src/ontology/sepio.owl
src/ontology/sepio.obo
src/ontology/sepio.json
src/ontology/sepio-base.*
src/ontology/sepio-basic.*
src/ontology/sepio-full.*
src/ontology/sepio-simple.*
src/ontology/sepio-simple-non-classified.*
semantic.cache
bin/
src/ontology/seed.txt
src/ontology/target/
src/ontology/dosdp-tools.log
src/patterns/imports/seed_sorted.txt
src/ontology/ed_definitions_merged.owl
src/ontology/patterns 
*.tmp.obo
*.tmp.owl